@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("https://mozorg.cdn.mozilla.net/media/fonts/OpenSans-Regular-webfont.eot?#iefix") format("embedded-opentype"),
  url("https://mozorg.cdn.mozilla.net/media/fonts/OpenSans-Regular-webfont.woff") format("woff");
}
body {
  background-color: #0B0B0B;
  background-image: url("img/udbg.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
  color: #dddddd;
  font-family: "Open Sans", sans-serif;
}
a {
  color: #ddd;
}
a:visited {
  color: blueviolet;
}
a:hover {
  color: red;
}
h1 {
  margin-top: 0px;
}
.logo {
  margin: 0px auto;
  width: 603px;
}
.page {
  margin: 0px auto;
  width: 50em;
}
.navigation {
  background: #06000d;
}
.navigation--list {
  list-style: none;
  margin: 0px auto;
  padding: 0px;
}
.navigation--list-item {
  display: inline-block;
  padding: 0.4em 1.083em;
}
.navigation--list-item:hover {
  background-color: #251e32;
}
.navigation--list-item-current {
  background: #1C1726;
}
.join-us {
  background: #1c1726;
  padding: 0em 1em;
}
.join-us--place {
  display: inline-block;
  vertical-align: middle;
  width: 24em;
}
.content {
  background: #171717;
  padding: 0em 1em;
}
