@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("https://mozorg.cdn.mozilla.net/media/fonts/OpenSans-Regular-webfont.eot?#iefix") format("embedded-opentype"),
  url("https://mozorg.cdn.mozilla.net/media/fonts/OpenSans-Regular-webfont.woff") format("woff");
}
body {
  background-color: #0B0B0B;
  color: #dddddd;
  font-family: "Open Sans", sans-serif;
}
a {
  color: #ddd;
}
a:visited {
  color: blueviolet;
}
a:hover {
  color: red;
}
h1 {
  margin-top: 0px;
  border-bottom: 1px solid #404040
}
.logo {
  display: block;
  margin: 0px auto;
}
.logo--big {
  display: none;
}
.page {
  margin: 0px auto;
  max-width: 50em;
}
.grid {
  display: flex;
  flex-wrap: wrap;
  display: -webkit-flex;
  -webkit-flex-wrap: wrap;
}
.grid--cell {
  flex: 0 0 100%;
  -webkit-flex: 0 0 100%;
}
.navigation {
  background: #06000d;
  border-bottom: 2px solid #1C1726
}
.navigation--item {
  padding: .5em 0em;
  text-align: center;
}
.navigation--item:hover {
  background-color: #251e32;
}
.navigation--item-current {
  background: #1C1726;
}
.join-us {
  background: #1c1726;
  padding: 0em 1em;
}
.content {
  background: #171717;
  padding: 1em;
}
.quote--quotation {
  color: gray;
  font-style: italic;
  margin: 0em;
  padding: 0em;
}
.quote--attribution {
  font-style: normal;
  margin-bottom: 0em;
  text-align: right;
}
.inline-img {
  border: 3px solid black;
  display: block;
  margin: 0em auto;
  max-width: 100%;
}

@media (min-width: 24em) {
  body {
    background-image: url("img/udbg.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
  }
  .join-us > .grid--cell {
    flex: 1 1 0%;
    -webkit-flex: 1 1 0%;
  }
  .navigation > .grid--cell {
    flex: 0 0 50%;
    -webkit-flex: 0 0 50%;
  }
  .quote--quotation {
    padding: .5em 1em;
  }
  .inline-img {
    margin: 0em .5em;
  }
  .inline-img--left {
    float: left;
  }
  .inline-img--right {
    float: right;
  }
  .inline-img--center {
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 40em) {
  .logo--small {
    display: none;
  }
  .logo--big {
    display: block;
  }
}
@media (min-width: 48em) {
  .grid {
    flex-wrap: nowrap;
    -webkit-flex-wrap: nowrap;
  }
  .navigation > .grid--cell,
  .grid--cell {
    flex: 1 1 0%;
    -webkit-flex: 1 1 0%;
    min-width: 3.0em;
  }
  .navigation--item {
    padding: .5em 1em;
  }
  .navigation > .navigation--item-story {
    min-width: 8em;
  }
  .navigation > .navigation--item-quickstart {
    min-width: 4.0em;
  }
  .navigation > .navigation--item-newplayers {
    min-width: 13.2em;
  }
  .quote--quotation {
    margin: 0em 2.5em
  }
}
